<h2>Welcome, <%=@user.name%>!</h2>

<h1>Our current powers include:</h1>

<%@powers.each do |power|%>
<ul>
    <li><a href="powers/<%=power.id%>"><%=power.name%></a></li>
</ul>
<%end%>

<p>Would you like to <a href="/powers/new">create a new power.</a></p>
<p>Or, <a href="/characters">view all the characters</a> that have been created.</p>
<p>Or, <a href="/locations">view all the locations</a> that have been created.</p>
<p>Or, <a href="/buildings">view all the buildings</a> that have been created.</p>
<p>Or, <a href="/archatypes">view all the archatypes</a> that have been created.</p>
<p>Would you like to <a href="/users/<%=@user.id%>">return to your homepage.</a></p>