<h2>Welcome, <%=@user.name%>!<h2>

<h1>Our current powers include:</h1>

<%@powers.each do |power|%>
<ul>
    <li><a href="powers/<%=power.id%>"><%=power.name%></a></li>
</ul>
<%end%>

<h3>Would you like to <a href="/powers/new">create a new power.</a></h3><br>
<h3>Or, <a href="/characters">view all the characters</a> that have been created.</h3><br>
<h3>Or, <a href="/locations">view all the locations</a> that have been created.</h3><br>
<h3>Or, <a href="/buildings">view all the buildings</a> that have been created.</h3><br>
<h3>Or, <a href="/archatypes">view all the archatypes</a> that have been created.</h3><br>
<h3>Would you like to <a href="/users/<%=@user.slug%>">return to your homepage.</a></h3><br>