<h2>Welcome, <%=@user.name%>!</h2>

<h1>Create a brand new character Archatype!</h1>

<h3>Tell us about this new character type:</h3><br>
<form action="/archatypes" method="post">
    <label>What is the name of this archatype?</label><br>
    <input type="text" name="archatype[name]" id="archatype[name]"><br><br>

    <label>What is this type like? What do they do? What makes them unique?</label><br>
    <input type="text" name="archatype[description]" id="archatype[description]"><br><br>

<h3>Would you like to add a power for this type?</h3><br>
    <label>What is the powers name?</label><br>
    <input type="text" name="power[name]" id="power[name]"><br><br>

    <label>What does it do? how does it help the character? </label><br>
    <input type="text" name="power[effect]" id="power[effect]"><br><br>

     <input type="submit" value="create">
    </form>

<p>Would you like to <a href="/users/<%=@user.id%>">return to your homepage.</a></p>
<p>Or go back to the <a href="/archatype">Archatype index page</a>?</p>
<p>Or, maybe <a href="/powers">view all the available Powers</a> that have been created?</p>