<h1> Please Login to Your Account</h1>

<%if @fail_message%>
  <p><%= @fail_message%></p><br>
<% end %>

<form action="/login" method="post">
<label>USERNAME:</label>
<input type="text" name="name" id="name"><br><br>

<label>PASSWORD:</label>
<input type="text" name="password" id="password">
<input type="submit" value="submit">
</form>

<p>Or, <a href="/signup">Sign Up</a></p><br>
<p><a href="/">Or, return to the homepage.</a></p>