<h1>All of our friends</h1>

<ul>
    <%@characters.each do |character|%>
    <li><a href="/characters/<%=character.id%>""><%=character.name%></a></li>
    <ul>
        <%character.archatypes.each do |archatype|%>
        <li><%=archatype.name%></li>
        <%end%>
    </ul>
<%end%><br><br>
<h3>Would you like to <a href="/characters/new">create a new character.</a></h3><br>
<h3>Or, <a href="/locations">view all the locations</a> that have been created.</h3><br>
<h3>Or, <a href="/buildings">view all the buildings</a> that have been created.</h3><br>
<h3>Or, <a href="/archatypes">view all the archatypes</a> that have been created.</h3><br>
<h3>Or, <a href="/powers">view all the powers</a> that have been created.</h3><br>
<h3>Would you like to <a href="/users/<%=@user.slug%>">return to your homepage.</a></h3><br>