<h1>All of our friends</h1>

<ul>
    <%@characters.each do |character|%>
    <li><a href="/characters/<%=character.id%>""><%=character.name%></a></li>
    <ul>
        <%character.archatypes.each do |archatype|%>
        <li><%=archatype.name%></li>
        <%end%>
    </ul>
<%end%><br><br>
<h3>Would you like to <a href="/characters/new">create a new character.</a><br>
<h3>Would you like to <a href="/users/<%=@user.slug%>">return to your homepage.</a><br>