<h1>All of our friends</h1>

<ul>
    <%@characters.each do |character|%>
    <li><a href="/characters/<%=character.id%>""><%=character.name%></a></li>
    <ul>
        <%character.archatypes.each do |archatype|%>
        <li><%=archatype.name%></li>
        <%end%>
    </ul>
<%end%><br><br>
<p>Would you like to <a href="/characters/new">create a new character.</a></p>
<p>Or, <a href="/locations">view all the locations</a> that have been created.</p>
<p>Or, <a href="/buildings">view all the buildings</a> that have been created.</p>
<p>Or, <a href="/archatypes">view all the archatypes</a> that have been created.</p>
<p>Or, <a href="/powers">view all the powers</a> that have been created.</p>
<p>Would you like to <a href="/users/<%=@user.id%>">return to your homepage.</a></p>