<!DOCTYPE html>
<html>
    <head>
        <title>Character Creator</title>
    </head> 
    <body>    
        <h1>Charicter Creator!</h1>
        <h2>Couldn't be greater!</h2>
        <%=yield%>
    </body>
    <footer>
        <ul>
            <h6>Whose the greatest?</h6>
            <h4>You are.</h4>
            <h6>Created wth love</h6>
        </ul>     
    </footer>
</html>