<h1>All the locations we know of</h1>

<%@locations.each do |location|%>
<ul>
    <li><a href="/locations/<%=location.id%>"><%=location.name%></a></li>
        <ul>
            <li><%=location.description%></li><br>
        </ul>
</ul>
<%end%>

<h3>Would you like to <a href="/characters/new">create a new character.</a><br>
<h3>Would you like to <a href="/users/<%=@user.slug%>">return to your homepage.</a><br>