<h1>All the locations we know of</h1>

<%@locations.each do |location|%>
<ul>
    <li><a href="/locations/<%=location.id%>"><%=location.name%></a></li>
        <ul>
            <li><%=location.description%></li><br>
        </ul>
</ul>
<%end%>

<h3>Would you like to <a href="/locations/new">create a new location.</a></h3><br>
<h3>Or, <a href="/characters">view all the characters</a> that have been created.</h3><br>
<h3>Or, <a href="/buildings">view all the buildings</a> that have been created.</h3><br>
<h3>Or, <a href="/archatypes">view all the archatypes</a> that have been created.</h3><br>
<h3>Or, <a href="/powers">view all the powers</a> that have been created.</h3><br>

<h3>Would you like to <a href="/users/<%=@user.slug%>">return to your homepage.</a></h3><br>