<h1>All the locations we know of</h1>

<%@locations.each do |location|%>
<ul>
    <li><a href="/locations/<%=location.id%>"><%=location.name%></a></li>
        <ul>
            <li><%=location.description%></li><br>
        </ul>
</ul>
<%end%>

<p>Would you like to <a href="/locations/new">create a new location.</a></p>
<p>Or, <a href="/characters">view all the characters</a> that have been created.</p>
<p>Or, <a href="/buildings">view all the buildings</a> that have been created.</p>
<p>Or, <a href="/archatypes">view all the archatypes</a> that have been created.</p>
<p>Or, <a href="/powers">view all the powers</a> that have been created.</p>

<p>Would you like to <a href="/users/<%=@user.id%>">return to your homepage.</a></p>