<h1>Check out all this cool location!</h1>

<h2>Welcome, <%=@user.name%>!</h2>

<h3>Tell us about this new place:</h3><br>
<form action="/locations" method="post">
    <label>What is the name of this location?</label><br>
    <input type="text" name="location[name]" id="location[name]"><br><br>

    <label>What is it like there?</label><br>
    <input type="text" name="location[description]" id="location[description]"><br><br>

    <label>What is the weather like?</label><br>
    <input type="text" name="location[weather]" id="location[weather]"><br><br>

    <label>hmmm... very interesting. With weather like that, what are the houses like?</label><br>
    <input type="text" name="location[housing]" id="location[housing]"><br><br>

<h3>Would you like to add a place of power?</h3><br>
    <label>What is it's name?</label><br>
    <input type="text" name="building[name]" id="building[name]"><br><br>

    <label>What is it like? Look, fell, sight, smell... </label><br>
    <input type="text" name="building[description]" id="building[description]"><br><br>

    <label>Is there a power drawn from it?</label><br>
    <input type="text" name="building[special_properties]" id="building[special_properties]"><br><br>
    <input type="submit" value="create">
    </form>


<h3>Or, <a href="/locations">view all the locations</a> that have been created.</h3><br>
<h3>Or, <a href="/buildings">view all the buildings</a> that have been created.</h3><br>
<h3>Would you like to <a href="/users/<%=@user.slug%>">return to your homepage.</a></h3><br>

